@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #111;
}

.square-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
}

.square {
    width: 16px;
    height: 16px;
    margin: 2px;
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    transition: all 2s ease-in-out;
}

.square:hover {
    transition-duration: 0s;
}